<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Index</title>
</head>
<body style="background-image: url(https://imgcdn.wallpapersite.me/backgrounds/1600x900-goku-dragon-ball-super-4k-wallpaper.jpg);">
    <h3>
        <div class="blueText">Hello world</div>
    </h3>
    <table class="table table-bordered table-hover">
        <tr>
            <td>Name</td>
            <td>Email</td>
        </tr>
        <tr>
            <td>A</td>
            <td>a@gmail.com</td>
        </tr>
        <tr>
            <td>B</td>
            <td>b@gmail.com</td>
        </tr>
    </table>
    <button type="submit" class="btn btn-default"></button>
</body>
</html>